#navbar > ul,
li {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

#welcome-section {
  height: 20vw;
  display: flex;
  justify-content: center;
}

@media (max-width: 300px) {
  body {
    background-color: gray;
  }
}
